body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;

}

.image-container {
  position: relative;
  width: 300px;
}

.pan img {
  width: 96%;
  /* height: auto;
  display: block; */
 padding-left: 86px;
 margin-bottom: -80px;
 padding-top: 160px;
 background:none;
 
}
.stove {
  margin-top: -100px;
}

.stove img {
  width: 144%;
  height: auto;
  display: block;
}

.stove-container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -50px;
}

#burner-flame {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  margin-left: 119px;
  display: none;
}

.flame {
  position: absolute;
  /* display: none; */
  bottom: -63px;
  margin-left: 29px;
  /*width: 80px;
  height: 20px;*/
  border-radius: 50%;
  background: radial-gradient(circle, rgba(255, 165, 0, 1) 50%, rgba(255, 69, 0, 1) 90%);
  animation: flicker 3s infinite alternate;
}

.small-flame {
  width: 30px;
  height: 10px;
  background: radial-gradient(circle, rgba(255, 215, 0, 1) 50%, rgba(255, 69, 0, 1) 90%);
  animation-duration: 3s;
}

.large-flame {
  width: 55px;
  height: 16px;
  animation-duration: 3s;
  /* display: none; */
}

@keyframes flicker {
  0% {
      transform: scale(1) translateY(0);
      opacity: 1;
  }
  100% {
      transform: scale(1.3) translateY(-5px);
      opacity: 0.8;
  }
} 

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-left: 730px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}




